---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saturnyx's Blogs</title>
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include nav.html %}
    <main>
      <h1>Hello, I am Harshal</h1>
      <p>
        Welcome to my blog where I share my thoughts on programming, technology, and life. Here
        you'll find articles about web development, software engineering best practices, and my
        journey as a developer. Feel free to explore and reach out if you have any questions or
        suggestions!
      </p>
      <h2>Stuff I'll be posting</h2>
      <ul>
        <li>Programming</li>
        <li>Personal Projects</li>
        <li>VEX Robotics</li>
        <li>Other cool stuff</li>
      </ul>
    </main>
    {% include footer.html %}
  </body>
</html>
