<div class="footer">
    <div>
        <h2>CONTACTING ME</h2>
        <p>
            I have no clue why you are trying to contact me, but I hope it is
            reasonable.
        </p>

        <div class="footer-icon-container">
            <a href="https://github.com/saturnyx" target="_blank">
                <i class="devicon-github-original footer-icon"></i>
            </a>
            <a
                href="https://discordapp.com/users/1175995074119745598"
                target="_blank"
            >
                <i class="fa-brands fa-discord footer-icon"></i>
            </a>
            <a href="mailto:saturnyx@disroot.org" target="_blank">
                <i class="fa-solid fa-envelope footer-icon"></i>
            </a>

            <p
                class="copyright"
                style="
                    padding-left: 0;
                    padding-right: 0;
                    text-align: right;
                    width: 100%;
                    color: var(--icon-color);
                "
            >
                © Harshal 2026
            </p>
        </div>
        <p
            style="color: var(--icon-color)"
            href="https://www.websitecarbon.com/website/saturnyx-dino-icu/"
        >
            <a
                href="https://www.websitecarbon.com/website/saturnyx-dino-icu/"
                style="color: var(--icon-color)"
            >
                This webpage cleaner than 76% of all web pages globally. Only
                0.13 g of CO2 is produced every time someone visits. Click to
                find out more...</a
            >
        </p>
    </div>
    <div>
        <div class="footer-form-container">
            <form action="https://formspree.io/f/xeokdwva" method="POST">
                <input type="email" name="email" placeholder="EMAIL or NAME" />
                <textarea name="message" placeholder="MESSAGE"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
