<div class="footer">
      <div>
        <h2>CONTACTING ME</h2>
        <p>
          I have no clue why you are trying to contact me, but I hope it is reasonable. I am open to
          any ideas for new projects, questions and pull requests. Feel free to email me about
          anything you want to discuss, or just to say hi! I will try to reply as soon as possible.
        </p>
        <div class="footer-icon-container">
          <a href="https://github.com/saturnyx" target="_blank">
            <i class="devicon-github-original footer-icon"></i>
          </a>
          <a href="https://discordapp.com/users/1175995074119745598" target="_blank">
            <i class="fa-brands fa-discord footer-icon"></i>
          </a>
          <a href="mailto:saturnyx@disroot.org" target="_blank">
            <i class="fa-solid fa-envelope footer-icon"></i>
          </a>
          <p
            class="copyright"
            style="
              padding-left: 0;
              padding-right: 0;
              text-align: right;
              width: 100%;
              color: var(--icon-color);
            "
          >
            © Harshal 2025
          </p>
        </div>
      </div>
      <div>
        <div class="footer-form-container">
          <form action="https://formspree.io/f/xeokdwva" method="POST">
            <input type="email" name="email" placeholder="EMAIL" />
            <textarea name="message" placeholder="MESSAGE"></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>