<nav class="post-navigation">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="{{ '/' | relative_url }}"
                >{{ site.title | default: "Blog" }}</a
            >
        </div>

        <div class="nav-links">
            <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
            <a href="{{ '/posts' | relative_url }}" class="nav-link">Posts</a>
            <a href="{{ '/about' | relative_url }}" class="nav-link">About</a>
            <a
                href="{{ 'https://github.com/Saturnyx/blog' | relative_url }}"
                class="nav-link"
                >Source</a
            >
        </div>
    </div>
</nav>
