@font-face {
    font-family: "Redaction";
    src: url("../fonts/Redaction35-Italic.woff2") format("woff2");
}
@font-face {
    font-family: "Rader";
    src: url("../fonts/PPRader-Regular.woff2") format("woff2");
    ascent-override: 80%;
}
@font-face {
    font-family: "Neue Montreal";
    src: url("../fonts/PPNeueMontreal-Book.woff2") format("woff2");
}
@font-face {
    font-family: "Jetbrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
