@font-face {
  font-family: "Mondwest";
  src: url("../fonts/PPMondwest-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Valve";
  src: url("../fonts/PPValve-PlainMedium.woff2") format("woff2");
}
@font-face {
  font-family: "Rader";
  src: url("../fonts/PPRader-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Book.woff2") format("woff2");
}
