$foreground-color: #dadada;
$background-color: #02000d;
$border: #332f48;
$link-default: #b793ff;
$link-visited: #9966ff;
$link-hover: #cfbbf6;
$text: "Mona Sans", "EB Garamond", sans-serif;
$heading: "Hubot Sans", sans;
$highlight-fg: #02000d;
$highlight-bg: #dadada;
