<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/index.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="{{ site.description }}" />
        {% include analytics.html %}
    </head>

    <body>
        {% include nav.html %}
        <main>
            <h1>{{ page.title }}</h1>
            <p class="subtitle">{{ site.description }}</p>
            {{ content }}
        </main>
        {% include footer.html %}
        <script>
            document.querySelectorAll('a[href^="http"]').forEach((link) => {
                link.setAttribute("target", "_blank");
                link.setAttribute("rel", "noopener noreferrer");
            });
        </script>
    </body>
</html>
