<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="{{ page.description }}" />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/post.css' | relative_url }}"
        />
        {% include analytics.html %}
    </head>

    <body>
        {% include nav.html %}

        <main>
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <p class="subtitle">{{ page.description }}</p>
            {% endif %} {{ content }}
        </main>

        {% include footer.html %}
        <script>
            document.querySelectorAll('a[href^="http"]').forEach((link) => {
                link.setAttribute("target", "_blank");
                link.setAttribute("rel", "noopener noreferrer");
            });
        </script>
    </body>
</html>
